﻿input {
    padding: 5px;
}

.task-container {
    padding: 7px;
    background-color: #E8E9FF;
    border-radius: 4px;
    margin-top: 10px;
}

.button-container {
    margin: 5px 0;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #C1C6FF;
    border-radius: 4px;
    color: #dbe3eb;
    padding: 4px;
}

.result-cell {
    display: flex;
    margin: 7px;
}

.result-bigcell {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px 0;
}

.result-text {
    margin: 0 10px;
}

.result-label {
    background-color: #6b7785;
    border-radius: 4px;
    padding: 5px;
}

